.Form {
    width: 700px;
    height: 100%;
    background-color: white;
    border-radius: 2px;
  }
  
  .create-user-header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color:rgb(212, 237, 237);
  }
  
  .foto {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    width: 80px;
    height: 80px;
    background-color:#D1D1D1;
    color: white;
    border-radius: 50px;
    padding: 10px;
  }
  
  form {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
  }
  
  input, select {
    height: 4vh;
    width: 250px;
    margin-top: 30px;
    border-radius: 5px;
    border-color: rgb(240, 235, 235);
  }
  
  .checkbox-div {
    width: 87%;
  }

  .checkbox-div input {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }

  .error {
    width: 100%;
    text-align: center;
    color: red;
  }