.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.submitButton {
  text-align: center;
}

.create-user-wrapper {
  width: 700px;
  height: 100%;
  background-color: white;
}

.create-user-header {

}