.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.create-user-wrapper {
  width: 700px;
  height: 100%;
  background-color: white;
}

input {
  height: 3vh;
  width: 45%;
}