$dark-green: #2ca5b4;

.forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form {
    width: 73%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;

    .static_header {
      height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #9f9b9b;

      div {
        margin-left: 3%;
      }

      :first-child,
      :last-child {
        margin-bottom: 0;
        margin-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
      }

      :nth-child(2) {
        width: 10vw;
        border: 1px solid #d9d8d8;
        margin-top: 5px;
      }
    }

    .create_header {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100px;
      background-color: rgb(212, 237, 237);

      p {
        text-align: center;
        width: 90px;
        height: 90px;
        background-color: #d1d1d1;
        color: #ffffff;
        border-radius: 50px;
        padding: 10px;
        margin-top: 25px;
      }
    }

    form {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .users_info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
      }

      input,
      select {
        padding: 10px;
        height: 5vh;
        width: 30vw;
        margin-top: 30px;
        border-radius: 5px;
        border-color: rgb(240, 235, 235);
      }

      .error {
        width: 100%;
        text-align: center;
        color: red;
      }

      .checkbox_div {
        width: 87%;

        input {
          width: 2.5vh;
          height: 2.5vh;
        }

        p {
          display: inline-block;
          margin-left: 10px;
          margin-bottom: 40px;
        }
      }
    }
  }

  .underline {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    hr {
      width: 90%;
      border: 1px solid #f5f0f0;
      margin: 0;
    }
  }

  .usrol_container {
    width: 100%;
    margin: 0 10px 60px 20px;
  }

  .buttons_footer {
    width: 69%;
    height: 60px;
    border-top: 2px solid rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #fff;

    .cansel_button,
    .save_button {
      width: 150px;
      height: 30px;
      color: white;
      border-radius: 5px;
      border-color: inherit;
      cursor: pointer;
    }

    .cansel_button {
      margin-right: 10px;
      background-color: rgb(193, 184, 184);
    }

    .save_button {
      margin-left: 10px;
      background-color: $dark-green;
    }
  }
}
