.header_name {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_classification {
  width: 100%;
  height: 55px;
  background-color: white;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.page_classification p {
  margin: 0 5px;
}

.page_classification_button {
  width: 35px;
  height: 35px;
  border: 1px solid #00000029;
  border-radius: 18px;
  box-shadow: 1px;
  background-color: white;
  margin: 0 10px;
  cursor: pointer;
}

.Form {
  width: 700px;
  height: 100%;
  background-color: white;
  border-radius: 5px;
}

.static_header {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user_information {
  margin-left: 20px;
  margin-right: 20px;
  color: #2ca5b4;
}

.user_roles {
  margin-left: 10px;
  color: #9f9b9b;
}

.create-user-header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: rgb(212, 237, 237);
}

.foto {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 80px;
  height: 80px;
  background-color: #d1d1d1;
  color: white;
  border-radius: 50px;
  padding: 10px;
}

form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user_input,
select {
  height: 4vh;
  width: 250px;
  margin-top: 30px;
  border-radius: 5px;
  border-color: rgb(240, 235, 235);
}

.checkbox-div {
  width: 87%;
}

.checkbox-div p {
  display: inline-block;
  margin-left: 10px;
}

.error {
  width: 100%;
  text-align: center;
  color: red;
}

.buttons_footer {
  width: 100%;
  height: 60px;
  border-top: 2px solid rgb(240, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 150px;
  height: 30px;
  color: white;
  border-radius: 5px;
  border-color: inherit;
  cursor: pointer;
}

.cansel_button {
  margin-right: 10px;
  background-color: rgb(193, 184, 184);
}

.save_button {
  margin-left: 10px;
  background-color: #2ca5b4;
}
