$dark-green: #2ca5b4;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #f0f0f0;

  .App {
    width: 100%;
    height: inherit;

    main {
      width: 100%;
      height: inherit;
      display: flex;

      section {
        width: 100%;
        height: 100%;
      }

      .main_field {
        display: flex;
        justify-content: center;
      }
    }

    .buttons {
      width: 150px;
      height: 30px;
      color: white;
      border-radius: 5px;
      border-color: inherit;
      cursor: pointer;
    }

    .users_wrapper {
      width: 100%;
      height: 100%;
      text-align: center;
    }

    .page_classification {
      width: 100%;
      height: 55px;
      background-color: white;
      display: flex;
      align-items: center;
      margin-bottom: 2px;

      .page_classification_button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border: 1px solid #00000029;
        border-radius: 18px;
        box-shadow: 1px;
        background-color: white;
        margin: 0 10px;
        cursor: pointer;
      }
    }

    .page_name {
      margin-left: 20px;
      color: #333333;
      font-size: 3vh;
    }
  }

  .first_letters {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #bfe4e8;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: #2ca5b4;
      font-weight: bold;
    }
  }

  .online_status {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #2ca5b4;
    margin-right: 10px;
  }

  .ofline_status {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #d16a42;
    margin-right: 10px;
  }

  .users_names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    :first-child {
      font-weight: 500;
      cursor: pointer;
    }

    p {
      margin: 0;
    }
  }

  .popup_wrapper {
    width: 30%;
    height: 33px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .button_wrapper {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-radius: 25px;
      border: 1px solid rgb(214, 214, 214);
      cursor: pointer;
      margin-right: -15px;
      background-color: white;

      .popup_button {
        width: 20px;
        height: 20px;
        background-image: url("./img/Klappen_rechts2.svg");
        background-repeat: no-repeat;
        border: none;
      }
    }
  }

  .popup-button-container {
    position: relative;
    display: inline-block;

    .popup-button {
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
      cursor: pointer;

      .popup-button-icon {
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("./img/three_dots_vertical_icon_159806.svg");
        background-repeat: no-repeat;
      }
    }

    .popup-content {
      position: absolute;
      top: 45%;
      right: 0;
      width: 200px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      z-index: 1;
      display: none;

      .popup-menue {
        display: flex;
        align-items: center;
        margin: 15px;

        p {
          cursor: pointer;
          margin: 0;
        }

        :last-child {
          color: #000000;
          font-size: 14px;
          font-weight: 500;
          margin-left: 10px;
        }
      }
    }

    .popup-button:hover + .popup-content,
    .popup-content:hover {
      display: block;
    }
  }

  .font_style-1 {
    color: #9e9e9e;
    font-size: 14px;
    font-weight: 500;
  }

  .justify-between {
    justify-content: space-between;
  }

  .margin_right {
    margin-right: 20px;
  }

  .m_b-0 {
    margin-bottom: 0;
  }

  .m_t-0 {
    margin-top: 0;
  }

  .m_b-5v {
    margin-bottom: 5vh;
  }
}
