$dark-green: #2ca5b4;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;

  .App {
    width: 100%;
    height: inherit;

    .main_header {
      width: 100%;
      height: 50px;
      background-color: $dark-green;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .user_management {
        display: flex;
        align-items: center;
        color: white;
        width: 70%;

        p {
          margin-left: 20px;
          cursor: pointer;
        }
      }

      .user_initials {
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: $dark-green;
        font-weight: bold;
        text-align: center;
        border-radius: 25px;
        margin-right: -50px;
        cursor: pointer;
      }

      .user_initials:hover {
        background-color: rgb(29, 130, 136);
        color: white;
      }
    }

    .main_main {
      width: 100%;
      height: inherit;
      display: flex;

      .main_aside {
        width: 60px;
        height: inherit;
        background-color: #e8e8e8;
        display: flex;
        flex-direction: column;

        a {
          text-decoration: none;
        }

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 55px;
          list-style: none;
          cursor: pointer;
        }

        .last_li {
          flex: auto;
          display: flex;
          justify-content: center;
          align-items: flex-end;

          p {
            width: 20px;
            height: 20px;
            background-image: url("./img/Klappen_rechts.svg");
            background-repeat: no-repeat;
            cursor: pointer;
          }
        }
      }

      .main_section {
        width: 100%;
        height: 100%;
      }

      .main_field {
        display: flex;
        justify-content: center;
      }
    }

    .buttons {
      width: 150px;
      height: 30px;
      color: white;
      border-radius: 5px;
      border-color: inherit;
      cursor: pointer;
    }

    .page_classification {
      width: 100%;
      height: 55px;
      background-color: white;
      display: flex;
      align-items: center;
      margin-bottom: 2px;

      .page_classification_button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border: 1px solid #00000029;
        border-radius: 18px;
        box-shadow: 1px;
        background-color: white;
        margin: 0 10px;
        cursor: pointer;
      }
    }

    .page_name {
      margin-left: 20px;
      color: #333333;
      font-size: 3vh;
    }

    .users_wrapper,
    .Users {
      width: 100%;
      height: 100%;
      text-align: center;

      .main_wrapper {
        display: flex;

        .users__list--div {
          background-color: white;

          .search_block {
            display: flex;
            justify-content: flex-start;
            padding: 15px 5px;

            input {
              height: 30px;
              width: 70%;
              border: rgb(193, 184, 184) solid 1px;
              border-radius: 5px;
              margin-left: 10px;
            }

            .popup_wrapper {
              width: 30%;
              height: 33px;
              display: flex;
              justify-content: flex-end;
              align-items: center;

              .popup_button_wrapper {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                border-radius: 25px;
                border: 1px solid rgb(214, 214, 214);
                cursor: pointer;
                margin-right: -15px;
                background-color: white;

                .popup_button {
                  width: 20px;
                  height: 20px;
                  background-image: url("./img/Klappen_rechts2.svg");
                  background-repeat: no-repeat;
                  border: none;
                }
              }
            }
          }

          ul {
            margin: 0;
            padding: 0 10px;

            li {
              padding: 10px;
              display: flex;
              align-items: center;
              list-style: none;
              border-top: #ededed solid 1px;

              .first_letters {
                width: 40px;
                height: 40px;
                border-radius: 30px;
                background-color: #bfe4e8;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                  color: #2ca5b4;
                  font-weight: bold;
                }
              }

              .online_status {
                width: 12px;
                height: 12px;
                border-radius: 10px;
                background-color: #2ca5b4;
                margin-right: 10px;
              }

              .ofline_status {
                width: 12px;
                height: 12px;
                border-radius: 10px;
                background-color: #d16a42;
                margin-right: 10px;
              }

              .users_names {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                cursor: pointer;

                :first-child {
                  font-weight: 500;
                }

                p {
                  margin: 0;
                }
              }
            }
          }
        }
      }

      .margin_right {
        margin-right: 20px;
      }

      .justify-between {
        justify-content: space-between;
      }

      .users-main_div {
        display: block;
        width: 65%;
        text-align: center;
        margin-top: 10%;

        .logoImage_wrapper {
          display: flex;
          justify-content: center;

          .user-login-image {
            width: 350px;
            height: 200px;
            background-image: url("./img/Gruppe 3987.svg");
            background-repeat: no-repeat;
            text-align: center;
          }
        }

        .user-text {
          font-size: large;
          font-weight: 600;
          text-align: center;
        }

        .button_wrapper {
          display: flex;
          justify-content: center;

          a {
            text-decoration: none;
          }

          .add-user_button {
            display: flex;
            align-items: center;
            width: 210px;
            height: 30px;
            background-color: $dark-green;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            :first-child {
              width: 40%;
            }
          }
        }
      }
    }
  }
}
